@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
button, hr, input {
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
audio, canvas, progress, video {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
progress, sub, sup {
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=checkbox], [type=radio], legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
body {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
h1 {
  font-size: 2em;
  margin: .67em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
figure {
  margin: 1em 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
a:active, a:hover {
  font-weight: 500;
  outline-width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
b, strong {
  font-weight: bolder; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
dfn {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
mark {
  background-color: #ff0;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
small {
  font-size: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
sub {
  bottom: -.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
sup {
  top: -.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
audio:not([controls]) {
  display: none;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
img {
  border-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
svg:not(:root) {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.44;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
button, select {
  text-transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
summary {
  display: list-item; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_norm\.scss}line{font-family:\000035}}
[hidden], template {
  display: none; }

/*
font-family: 'Roboto', sans-serif; 700
font-family: 'Roboto Slab', serif; 300
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000337}}
.container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  overflow: hidden; }

/*COLOURS*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000363}}
body {
  font-family: "Roboto SLab", "Helvetica Neue";
  font-weight: 300;
  color: #2b333a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000364}}
h1, h2, h3, h4, h5 {
  color: #013866; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000366}}
a:link, a:active, a:visited {
  color: #2b333a;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000368}}
a:hover {
  color: #78909b; }

/*FONT*/
/*base font size */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000378}}
html {
  font: 300 16px normal "Roboto SLab", "Helvetica Neue", sans-serif; }

/*800-*/
@media (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000380}}
  html {
    font-size: 14px; }

  /*-800*/ }
/*400- */
@media (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000383}}
  html {
    font-size: 13px; }

  /* -400*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000386}}
body {
  font-family: "Roboto SLab", "Helvetica Neue";
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000391}}
header, footer {
  font-size: 0.8em;
  line-height: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000394}}
p {
  font: 300 normal 1em/1.5 "Roboto SLab", "Helvetica Neue", sans-serif;
  margin-bottom: 1.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\0000399}}
h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica";
  font-weight: 300;
  line-height: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003102}}
h1 {
  font-size: 2.125em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003103}}
h2 {
  font-size: 1.55em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003104}}
h3 {
  font-size: 1.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003105}}
h4 {
  font-size: 0.9em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003106}}
h5 {
  font-size: 0.85em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003107}}
small {
  font-size: 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003110}}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003111}}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003114}}
ul li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003115}}
* {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003118}}
.cf:before, .cf:after {
  content: " ";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003119}}
.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003124}}
.cf {
  *zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003128}}
.txt-c {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003129}}
.txt-l {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003130}}
.txt-r {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003131}}
.txt-j {
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003143}}
.h-100 {
  min-height: 6.250em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003144}}
.h-200 {
  min-height: 12.500em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003145}}
.h-300 {
  min-height: 18.750em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003146}}
.h-400 {
  min-height: 25.000em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003147}}
.h-500 {
  min-height: 31.250em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003148}}
.h-600 {
  min-height: 37.500em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003149}}
.h-700 {
  min-height: 43.750em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003150}}
.h-800 {
  min-height: 50.000em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003151}}
.h-1000 {
  min-height: 62.500em; }

/*PADDINGS*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003156}}
.pad-sides {
  padding-left: 2.500em;
  padding-right: 2.500em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003157}}
.pad-roof {
  padding-top: 2.500em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003158}}
.pad-floor {
  padding-bottom: 2.500em; }

/*800- */
@media (800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003162}}
  .pad-sides {
    padding-left: 1.500em;
    padding-right: 1.500em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003163}}
  .pad-roof {
    padding-top: 1.5000em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003164}}
  .pad-floor {
    padding-bottom: 1.2500em; }

  /* -800*/ }
/*Invisible and Visible*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003169}}
.space-invisible {
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003172}}
.space-visible {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003176}}
.nsf-l {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_default\.scss}line{font-family:\00003179}}
.nsf-lm {
  display: none; }

/*PRELOADER*/
@-webkit-keyframes pulse {
  50% {
    background: #DDDDDD; } }
@keyframes pulse {
  50% {
    background: #DDDDDD; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000342}}
.loading-pulse {
  position: relative;
  width: 6px;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000349}}
  .loading-pulse:before, .loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
            animation: pulse 750ms infinite; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000360}}
  .loading-pulse:before {
    left: -12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000363}}
  .loading-pulse:after {
    left: 12px;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000369}}
#wall {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  z-index: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000378}}
.wallfade {
  -webkit-animation: wallfall-motion normal 1 both 3s;
          animation: wallfall-motion normal 1 both 3s; }

@-webkit-keyframes wallfall-motion {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes wallfall-motion {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\0000388}}
.wallhide {
  display: none; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\00003121}}
.motion-BlurIn {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\00003129}}
svg#navBttn-Layer {
  fill: #2b333a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/_xtra\.scss}line{font-family:\00003134}}
svg#navBttn-Layer:hover {
  fill: #00f996; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\000038}}
header h1, footer h1, section h1, aside h1, article h1 {
  text-transform: uppercase;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000311}}
ul li {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000315}}
.container {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100vw;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000326}}
#logoBox {
  float: left;
  width: 3.750em;
  height: 3.750em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000330}}
  #logoBox img {
    height: 100%;
    width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000332}}
#navBttn {
  float: right;
  width: 3.750em;
  height: 3.750em;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000336}}
  #navBttn img {
    height: 100%;
    width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000341}}
#navBox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: rgba(37, 46, 54, 0.98);
  z-index: 999999;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000355}}
  #navBox ul {
    margin-top: 8.0em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000356}}
  #navBox ul li {
    font: 300 normal 1em/1.5 "Roboto SLab", "Helvetica Neue", sans-serif;
    height: 20vh;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000361}}
    #navBox ul li a:link {
      color: #f4f4f4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000362}}
    #navBox ul li a:visited {
      color: #f4f4f4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000363}}
    #navBox ul li a:hover {
      color: #f04b65; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000366}}
  #navBox #navBttnX {
    top: 0;
    float: right;
    width: 3.125em;
    height: 3.125em;
    float: right;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000373}}
    #navBox #navBttnX img {
      width: 100%;
      height: 100%;
      z-index: 9999; }

/* home-page.html */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000382}}
#homePage {
  padding: 30vh 3vw 0em 3vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nreza\/Desktop\/nude\/scss\/style\.scss}line{font-family:\0000389}}
.top-bar {
  position: absolute;
  top: 2.5vh;
  z-index: 5;
  min-height: 3.750em;
  left: 1.5vw;
  right: 1.5vw; }

/*# sourceMappingURL=style.css.map */